@charset "UTF-8";
html,
body,
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
button {
  font-family: "Montserrat", sans-serif;
  color: #303b57;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  max-width: 20px;
  height: 20px;
  border-radius: 50%;
  width: 100%;
  border: 1px solid #e6e6e6;
  margin: 0 7.5px;
  position: relative;
}

.slick-dots li::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #cf465a;
  display: none;
}

/* Активная точка */
.slick-dots li.slick-active::before {
  display: block;
}

/* Элемент точки */
.slick-dots li button {
  display: none;
}

.btn {
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
  background-color: #cf465a;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
}

.title {
  font-weight: 800;
  font-size: calc(24px + (35 - 24) * ((100vw - 320px) / (1920 - 320)));
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 1920px) {
  .title {
    font-size: 35px;
  }
}

.header {
  color: #fff;
  background-image: url(../img/header/header_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.header__wrapper {
  padding: 42px 0 66px;
  position: relative;
}

.header__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
  position: relative;
  z-index: 1;
}

.header__info {
  max-width: 580px;
  width: 100%;
  margin-right: 30px;
}

.header__info-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 85px;
}

.header__info-date-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info-date-item-text {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.header__info-subtitle {
  font-weight: 600;
  font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
  line-height: 135%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header__info-title {
  margin-bottom: 20px;
}

.header__info-title-item {
  font-weight: 800;
  font-size: calc(28px + (54 - 28) * ((100vw - 320px) / (1920 - 320)));
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  background-color: #f5b45e;
  margin-bottom: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 6px;
}

.header__info-title-item:last-child {
  margin-bottom: 0;
}

.header__info-text {
  font-weight: 600;
  font-size: calc(18px + (23 - 18) * ((100vw - 320px) / (1920 - 320)));
  line-height: 145%;
  margin-bottom: 50px;
}

.header__text {
  max-width: 280px;
  width: 100%;
  padding: 42px 25px;
  font-weight: 600;
  font-size: 15px;
  line-height: 145%;
  color: #000;
  background: #ffffff;
  border-radius: 30px;
  position: relative;
  margin-top: 24px;
}

.header__text::before, .header__text::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 80px;
  height: 67px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__text::before {
  background-image: url(../img/header/header_text-decor1.png);
  top: -34px;
  left: -22px;
}

.header__text::after {
  background-image: url(../img/header/header_text-decor2.png);
  bottom: -34px;
  right: -22px;
}

.header__text-decor {
  position: absolute;
  width: 100%;
  max-width: 30px;
  left: -28px;
  bottom: 30%;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}

.header__item {
  font-weight: bold;
  font-size: 20px;
}

.header__decor {
  max-width: 415px;
  width: 100%;
  position: absolute;
  bottom: -4px;
  right: 230px;
}

@media (min-width: 1920px) {
  .header__info-subtitle {
    font-size: 25px;
  }
  .header__info-title-item {
    font-size: 54.1269px;
  }
  .header__info-text {
    font-size: 23px;
  }
}

@media (max-width: 1250px) {
  .header__text::before {
    left: -5px;
  }
  .header__text::after {
    right: -5px;
  }
}

@media (max-width: 1150px) {
  .header__decor {
    right: 10px;
    max-width: 290px;
  }
  .header__text-decor {
    display: none;
  }
}

@media (max-width: 900px) {
  .header__decor {
    max-width: 260px;
  }
  .header__text {
    font-size: 14px;
    padding: 30px 25px;
  }
  .header__item {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .header__decor {
    display: none;
  }
  .header__text {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
  .header__info-date-item {
    text-align: left;
  }
  .header__decor {
    display: none;
  }
  .header__text {
    display: none;
  }
  .header__info {
    max-width: 100%;
    margin-right: 0;
  }
  .header__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .header .btn {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .header__info-wrapper {
    margin-bottom: 50px;
  }
  .header__item {
    max-width: 100%;
  }
}

.for {
  color: #000;
  position: relative;
  overflow: hidden;
}

.for__wrapper {
  padding: 120px 0 140px;
  position: relative;
  z-index: 1;
}

.for__items {
  margin-top: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 96px;
}

.for__item {
  max-width: 330px;
  width: 100%;
  position: relative;
  padding: 60px 25px 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.07);
}

.for__item-num {
  position: absolute;
  font-weight: 800;
  font-size: 103.385px;
  color: #cf465a;
  top: -65px;
  left: 28px;
}

.for__item-text {
  line-height: 145%;
}

.for__item-text span {
  font-weight: 600;
}

.for__decor {
  position: absolute;
  width: 100%;
}

.for__decor1 {
  max-width: 578px;
  top: 60px;
  left: 170px;
}

.for__decor2 {
  max-width: 644px;
  bottom: 70px;
  right: 190px;
}

.for__decor3 {
  max-width: 250px;
  left: 120px;
  bottom: 120px;
}

.for__decor4 {
  max-width: 200px;
  top: 130px;
  right: 100px;
}

@media (max-width: 1300px) {
  .for__decor1 {
    max-width: 378px;
    left: 30px;
  }
  .for__decor2 {
    max-width: 444px;
    right: 50px;
  }
  .for__decor3 {
    max-width: 250px;
    left: 120px;
    bottom: 320px;
  }
  .for__decor4 {
    max-width: 200px;
    top: 230px;
    right: 100px;
  }
}

@media (max-width: 780px) {
  .for__items {
    grid-gap: 50px;
    grid-row-gap: 90px;
  }
}

@media (max-width: 730px) {
  .for__wrapper {
    padding-bottom: 50px;
  }
  .for__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    grid-gap: 0;
    width: 100%;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .for__item {
    margin: 60px 10px 60px;
    max-width: 100%;
    -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.07);
  }
  .for__decor2 {
    display: none;
  }
  .for__decor3 {
    max-width: 200px;
    left: 10px;
    bottom: 40px;
  }
  .for__decor4 {
    max-width: 200px;
    top: 230px;
    right: 10px;
  }
}

.task {
  background-image: url(../img/task/task_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #fff;
}

.task__wrapper {
  padding-top: calc(50px + (120 - 50) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(50px + (120 - 50) * ((100vw - 320px) / (1920 - 320)));
}

.task__items {
  margin: 70px 0 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 75px;
  grid-row-gap: 50px;
}

.task__item {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.task__item-title {
  background-color: #f5b45e;
  font-weight: 800;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 0;
  text-align: center;
}

.task__item-block {
  padding: 28px;
}

.task__item-text {
  font-weight: 500;
  line-height: 145%;
  position: relative;
}

.task__item-text:first-child {
  padding-bottom: 22px;
  margin-bottom: 22px;
  min-height: 92px;
}

.task__item-text:first-child::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #f5b45e;
  bottom: 0;
  left: 0;
}

.task__item-subtitle {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 5px;
}

.task__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #6fc4eb;
  font-weight: bold;
  font-size: 19px;
  line-height: 145%;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 12px 35px;
  margin-bottom: 70px;
}

.task .btn {
  margin: 0 auto;
}

.task .slick-dots li::before {
  background-color: #f5b45e;
}

@media (min-width: 1920px) {
  .task__wrapper {
    padding: 120px 0;
  }
}

@media (max-width: 1200px) {
  .task__items {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

@media (max-width: 850px) {
  .task__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .task__item-block {
    padding: 15px;
  }
  .task__text {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .task__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .task__item {
    margin: 0 10px;
  }
}

.program {
  color: #fff;
  background-image: url(../img/program/program_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.program__wrapper {
  padding-top: calc(50px + (120 - 50) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(50px + (120 - 50) * ((100vw - 320px) / (1920 - 320)));
}

.program__info {
  margin-top: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 170px;
  grid-row-gap: 65px;
  margin-bottom: 100px;
}

.program__info-item {
  position: relative;
}

.program__info-item:nth-child(6)::before {
  display: none;
}

.program__info-item:nth-child(3)::before {
  right: auto;
  left: 50%;
  top: auto;
  bottom: -50px;
  -webkit-transform: translateY(0%) translateX(-50%) rotate(90deg);
          transform: translateY(0%) translateX(-50%) rotate(90deg);
}

.program__info-item:nth-child(4)::before, .program__info-item:nth-child(5)::before {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.program__info-item::before {
  position: absolute;
  content: "";
  width: 100%;
  max-width: 21px;
  height: 37px;
  background-image: url(../img/program/arrow.png);
  top: 50%;
  right: -85px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.program__info-item-title {
  -webkit-text-stroke: 1px #fff;
  color: rgba(0, 0, 0, 0);
  font-weight: 800;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.program__info-item-text {
  font-weight: 500;
  line-height: 145%;
}

.program__about {
  margin-top: 110px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 75px;
}

.program__about-item {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
  padding: 0 30px 50px;
}

.program__about-item-img {
  width: 100%;
  max-width: 120px;
  margin: -60px auto 40px;
}

.program__about-item-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 145%;
  text-align: center;
  margin-bottom: 18px;
}

.program__about-item-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.program__about-item-list-item:last-child {
  margin-bottom: 0;
}

.program__about-item-list-decor {
  width: 100%;
  max-width: 16px;
  height: 16px;
  margin-right: 23px;
  border-radius: 50%;
  background-color: #f5b45e;
  margin-top: 3px;
}

.program__about-item-list-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 145%;
}

@media (min-width: 1920px) {
  .program__wrapper {
    padding: 120px 0;
  }
}

@media (max-width: 1050px) {
  .program__info {
    grid-column-gap: 70px;
    grid-row-gap: 50px;
  }
  .program__info-item::before {
    right: -35px;
  }
  .program__about {
    grid-gap: 30px;
  }
  .program__about-item {
    padding: 0 15px 30px;
  }
}

@media (max-width: 850px) {
  .program__info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .program__info-item:nth-child(even)::before {
    display: none;
  }
  .program__info-item:nth-child(3)::before {
    bottom: auto;
    top: 50%;
    right: -35px;
    left: auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .program__info-item:nth-child(5)::before {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .program__info-item:nth-child(6) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .program__info-item:nth-child(5) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .program__info-item:nth-child(4) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .program__about {
    grid-gap: 30px;
  }
  .program__about-item {
    padding: 0 15px 30px;
  }
}

@media (max-width: 768px) {
  .program__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .program__info-item {
    text-align: center;
    margin: 0 10px;
  }
  .program__info-item::before {
    display: none;
  }
  .program__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .program__about-item {
    margin: 60px 10px 0;
  }
}

.who {
  color: #000;
  background-image: url(../img/who/who_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

.who__wrapper {
  position: relative;
  z-index: 1;
  padding-top: calc(50px + (120 - 50) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(50px + (120 - 50) * ((100vw - 320px) / (1920 - 320)));
}

.who__list-wrapper {
  margin-top: 50px;
}

.who__list-title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #cf465a;
  margin-bottom: 28px;
}

.who__list-title-img {
  width: 100%;
  max-width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #f5b45e;
  overflow: hidden;
  margin: 0 auto 50px;
  display: none;
}

.who__list-title-img img {
  -o-object-position: top;
     object-position: top;
  -webkit-transform: translateX(20px) translateY(10px);
          transform: translateX(20px) translateY(10px);
}

.who__list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.who__list-items {
  width: 100%;
  max-width: 380px;
}

.who__list-item {
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.who__list-item:last-child {
  margin-bottom: 0;
}

.who__list-item-decor {
  width: 100%;
  max-width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f5b45e;
  margin-right: 23px;
}

.who__list-item-text {
  font-size: 16px;
  line-height: 145%;
}

.who__list-item-text span {
  font-weight: 600;
}

.who__decor {
  position: absolute;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 370px;
}

@media (min-width: 1920px) {
  .task__wrapper {
    padding: 120px 0;
  }
}

@media (max-width: 1150px) {
  .who__decor {
    max-width: 300px;
  }
}

@media (max-width: 1000px) {
  .who__list-title-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .who__decor {
    display: none;
  }
}

@media (max-width: 800px) {
  .who__list-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .who__list-items {
    max-width: 100%;
    margin-bottom: 25px;
  }
  .who__list-items:last-child {
    margin-bottom: 0;
  }
  .who__list-items__list-item {
    margin-bottom: 25px;
  }
}

.pack {
  color: #fff;
  background-image: url(../img/task/task_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.pack__wrapper {
  padding-top: calc(50px + (120 - 50) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(50px + (120 - 50) * ((100vw - 320px) / (1920 - 320)));
}

.pack__items {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 75px;
}

.pack__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.pack__item:nth-child(1) .pack__item-title {
  background-color: #fff;
  color: #000;
}

.pack__item:nth-child(2) .pack__item-title {
  background-color: #f5b45e;
}

.pack__item:nth-child(3) .pack__item-title {
  background-color: #6fc4eb;
}

.pack__item-title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}

.pack__item-block {
  padding: 35px;
}

.pack__item-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.pack__item-list-item:last-child {
  margin-bottom: 0;
}

.pack__item-list-item-decor {
  width: 100%;
  max-width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 18px;
  margin-top: 5px;
}

.pack__item-list-item-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 145%;
}

.pack__item-btn-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 0 0;
  text-align: center;
}

.pack__item-btn-block::before {
  position: absolute;
  content: "";
  width: 100%;
  max-width: calc(100% - 70px);
  height: 1px;
  background-color: #fff;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pack__item-btn-text {
  font-size: 15px;
  margin-bottom: 10px;
}

.pack__item-btn-text span {
  font-weight: 700;
  text-decoration: line-through;
}

.pack__item-btn-title {
  font-size: 24px;
}

.pack__item-btn-sum {
  font-size: 32px;
  font-weight: 700;
}

.pack .btn {
  max-width: 100%;
}

@media (min-width: 1920px) {
  .pack__wrapper {
    padding: 120px 0;
  }
}

@media (max-width: 1200px) {
  .pack__items {
    grid-gap: 30px;
  }
}

@media (max-width: 900px) {
  .pack__items {
    grid-gap: 15px;
  }
  .pack__item-block {
    padding: 15px;
  }
  .pack__item-btn-block::before {
    max-width: calc(100% - 30px);
  }
}

@media (max-width: 700px) {
  .pack__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .pack__item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .pack__item-list-item {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .pack__items {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .pack__item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.footer {
  position: relative;
}

.footer__wrapper {
  padding: 94px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__info {
  width: 100%;
  max-width: 640px;
  margin-right: 25px;
  background: #ffffff;
  border-radius: 30px;
  padding: 85px 60px;
  margin-top: 30px;
  -webkit-filter: drop-shadow(0px 4px 70px rgba(0, 0, 0, 0.07));
          filter: drop-shadow(0px 4px 70px rgba(0, 0, 0, 0.07));
  position: relative;
  margin-bottom: 50px;
}

.footer__info::before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 60px;
  height: 76px;
  background-image: url(../img/footer/footer_info-decor.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 55px;
  right: -58px;
}

.footer__info-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__info-title {
  margin-bottom: 22px;
}

.footer__info-title-item {
  font-weight: 800;
  font-size: 48.1952px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 3.56164px 3.56164px rgba(0, 0, 0, 0.25);
  padding: 0 6px;
  background-color: #f5b45e;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 7px;
}

.footer__info-title-item:last-child {
  margin-bottom: 0;
}

.footer__info-text {
  font-size: 18.48px;
  line-height: 145%;
}

.footer__img {
  max-width: 477px;
  width: 100%;
  margin: auto 0 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.footer__decor {
  position: absolute;
  width: 100%;
}

.footer__decor1 {
  max-width: 644px;
  top: 95px;
  left: 22px;
}

.footer__decor2 {
  max-width: 1020px;
  bottom: -180px;
  right: 270px;
}

.footer__decor3 {
  max-width: 200px;
  top: -34px;
  left: 630px;
}

.footer__decor4 {
  max-width: 386px;
  top: 110px;
  right: 64px;
}

.footer__decor5 {
  max-width: 246px;
  bottom: -55px;
  left: 167px;
  z-index: 2;
}

@media (max-width: 1150px) {
  .footer__decor5 {
    max-width: 180px;
  }
}

@media (max-width: 1000px) {
  .footer__info {
    padding: 30px;
  }
  .footer__decor5 {
    max-width: 130px;
  }
}

@media (max-width: 900px) {
  .footer__info-subtitle {
    font-size: 18px;
  }
  .footer__info-title-item {
    font-size: 40px;
  }
  .footer__info-text {
    font-size: 16px;
  }
  .footer__decor1, .footer__decor2, .footer__decor4 {
    display: none;
  }
  .footer__decor3 {
    left: 100px;
  }
}

@media (max-width: 768px) {
  .footer__img {
    display: none;
  }
  .footer__info {
    text-align: center;
    max-width: 100%;
    margin-right: 0;
  }
  .footer__info::before {
    display: none;
  }
}

@media (max-width: 510px) {
  .footer__info {
    padding: 35px 15px;
  }
  .footer__info-subtitle {
    font-size: 18px;
  }
  .footer__info-title-item {
    font-size: 24px;
  }
  .footer__info-text {
    font-size: 16px;
  }
}

.result {
  background-image: url(../img/result/result_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.result__wrapper {
  padding-top: calc(50px + (120 - 50) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(50px + (120 - 50) * ((100vw - 320px) / (1920 - 320)));
}

.result__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
  grid-gap: 60px;
  margin-bottom: 85px;
}

.result__info-img {
  max-width: 460px;
  width: 100%;
  margin-top: 40px;
}

.result__info-items {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.07);
  padding: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  margin-bottom: 30px;
}

.result__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result__info-item-num {
  font-weight: bold;
  font-size: 25px;
  color: #cf465a;
  margin-right: 20px;
}

.result__info-item-text {
  font-size: 14px;
  line-height: 145%;
}

.result__info-item-text span {
  font-weight: 600;
}

.result__info-text {
  font-size: 16px;
  line-height: 145%;
  margin-bottom: 70px;
}

.result__info-text span {
  font-weight: 600;
}

.result__info-text p {
  margin-bottom: 30px;
}

.result__info-text p:last-child {
  margin-bottom: 0;
}

.result__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result__about-text {
  max-width: 330px;
  width: 100%;
  font-weight: 800;
  font-size: 25px;
  line-height: 145%;
  text-transform: uppercase;
  margin-right: 25px;
}

.result__about-text span {
  color: #cf465a;
}

.result__about-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 60px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.07);
  padding: 50px 40px;
}

.result__about-item-img {
  max-width: 43px;
  width: 100%;
  margin-bottom: 15px;
}

.result__about-item-title {
  font-weight: bold;
  font-size: 25px;
  color: #6fc4eb;
  margin-bottom: 5px;
}

.result__about-item-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 145%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.result .btn {
  color: #ffffff;
}

@media (min-width: 1920px) {
  .result__wrapper {
    padding: 120px 0;
  }
}

@media (max-width: 1050px) {
  .result__about-items {
    grid-gap: 30px;
    padding: 30px;
  }
}

@media (max-width: 950px) {
  .result__about-items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .result__about {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .result__info {
    grid-gap: 30px;
  }
  .result__info-items {
    padding: 20px;
  }
  .result__info-img {
    display: none;
  }
}

@media (max-width: 750px) {
  .result__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .result__about-text {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .result__about-items {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .result__info-items {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 450px) {
  .result__about-text {
    font-size: 20px;
  }
  .result__about-items {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
